body {
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
}
